@charset "utf-8";

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: transparent !important;
    color: white;
    transition: all 0.3s ease;
}
.play-button:hover {
    transform: translate(-50%, -50%) scale(1.5);
}

.col:hover{
    transform: translateX(10px) scale(1.1); /* Sposta a destra e ingrandisce leggermente */
    cursor: pointer;
    transition: transform 0.2s ease;
}

.nav-item {
    padding: 10px 20px;
    transition: transform 0.4s ease;
    font-family: "Mokoto", serif;
}

.nav-item:hover {
    transform: translateX(10px) scale(1.1); /* Sposta a destra e ingrandisce leggermente */
    cursor: pointer;
    color: rgba(255, 0, 0, 0.815);
}

.Logo, h5, h1{
    font-family: 'Mokoto', serif;
    font-size: xx-large;
}

.Pilot{
    color:rgba(255, 0, 0, 0.815);
}

.card.mb-3 {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

h2{
    color: white;
}

.text1{
    text-align: center;
    text-justify: auto;
    padding-top: 60px;
}

.card-text {
    font-size: 180%;

}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0 10px; /* Aggiungi un margine tra le card se necessario */
}
