@charset "utf-8";

.image-container {
    position: relative;
    width: 100%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.391), rgba(0, 0, 0, 0.978));
    z-index: 1;
    /* Assicura che l'overlay sia dietro il testo */
}

.testo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    /* Regola la larghezza del testo */
    max-width: 600px;
    /* Larghezza massima del testo */
    padding: 20px;
    /* Spaziatura interna */
    font-size: 1.2em;
    /* Dimensione del testo */
    z-index: 2;
}
/* font per titolo */
h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* font per corpo */
p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*.map {
    width: 25%;
    height: auto;
    margin-top: 25px; /* Aggiunge spazio sopra l'immagine della mappa */
    float: right; /* Posiziona l'immagine della mappa a destra */
    clear: right; /* Impedisce che l'immagine della mappa si sovrapponga ai float a sinistra */
   /* margin-right: 20px;
 }
   */

.additional-content {
    margin-top: 20px; /* Aggiunge spazio sopra il contenuto aggiuntivo */
}

.map {
    width: 25%;
    height: auto;
    margin-top: 25px; /* Aggiunge spazio sopra l'immagine della mappa */
    float: right; /* Posiziona l'immagine della mappa a destra */
    clear: right; /* Impedisce che l'immagine della mappa si sovrapponga ai float a sinistra */
    margin-right: 20px;
}

.col-md-6 {
    padding-right: 15px; /* Aggiunge spazio a destra del testo a sinistra */
    padding-left: 15px; /* Aggiunge spazio a sinistra del testo a sinistra */
}


footer {
    margin-bottom: 20px; /* Aggiunge spazio sotto il footer */
}
