<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricevuta di prenotazione</title>
    <!-- Collegamento al file CSS di Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Collegamento al file JavaScript di Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Il tuo stile personalizzato -->

    <link rel="stylesheet" href="ricevuta.css">
</head>

<body>
<div class="container">
    <h1>Ricevuta di prenotazione</h1>
    <form id="bookingForm">
        <label for="firstName">Nome:</label>
        <input type="text" id="firstName" name="firstName" required><br><br>

        <label for="lastName">Cognome:</label>
        <input type="text" id="lastName" name="lastName" required><br><br>

        <div id="carCarousel" class="carousel slide" data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active" data-price="150"> <!-- Prezzo per la Lamborghini -->
                    <img src="foto/2021-Lamborghini-Huracan-STO-012-2160-scaled.jpg" class="d-block w-100"
                         alt="Lamborghini">
                </div>
                <div class="carousel-item" data-price="200"> <!-- Prezzo per l'Aston Martin -->
                    <img src="foto/aston-martin-valhalla-2.jpg" class="d-block w-100" alt="Aston Martin">
                </div>
                <div class="carousel-item" data-price="180"> <!-- Prezzo per la Ferrari -->
                    <img src="foto/ferrari-296-gtb-by-novitec.jpg" class="d-block w-100" alt="Ferrari">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div><br>

        <label for="date">Data di prenotazione:</label>
        <input type="date" id="date" name="date" required><br><br>

        <label for="time">Orario di prenotazione (9:00 - 16:00):</label>
        <select id="time" name="time" required>
            <option value="09:00">09:00</option>
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
            <option value="13:00">13:00</option>
            <option value="14:00">14:00</option>
            <option value="15:00">15:00</option>
            <option value="16:00">16:00</option>
        </select><br><br>
        <label>Scegli il metodo di pagamento:</label><br>
        <label>
            <input type="radio" name="paymentMethod" value="paypal" required>
            <span class="selector"></span> PayPal
        </label><br>
        <label>
            <input type="radio" name="paymentMethod" value="mastercard" required>
            <span class="selector"></span> Mastercard
        </label><br>
        <label>
            <input type="radio" name="paymentMethod" value="bonifico" required>
            <span class="selector"></span> Bonifico
        </label><br>


        <button type="submit">Conferma prenotazione</button>
    </form>

    <div class="receipt" id="receipt" style="display: none;">
        <h2>Ricevuta di prenotazione</h2>
        <p><strong>Nome:</strong> <span id="receiptFirstName"></span></p>
        <p><strong>Cognome:</strong> <span id="receiptLastName"></span></p>
        <p><strong>Tipologia di auto prenotata:</strong> <span id="receiptCarType"></span></p>
        <p><strong>Prezzo:</strong> <span id="receiptPrice"></span> Euro</p>
        <p><strong>Data di prenotazione:</strong> <span id="receiptDate"></span></p>
        <p><strong>Orario di prenotazione:</strong> <span id="receiptTime"></span></p>
        <p><strong>Metodo di pagamento:</strong> <span id="receiptPaymentMethod"></span></p>


        <!-- Avvertenza -->
        <h2>Avvertenza</h2>
        <p>Per favore presentarsi sempre almeno mezzo'ora prima dell'orario fissato, per le varie fasi di
            preparazione</p>
    </div>
</div>

<script>
    // Gestione del submit del form
    document.getElementById('bookingForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Evita il ricaricamento della pagina al submit del form

        // Recupera i valori inseriti nel form
        var firstName = document.getElementById('firstName').value;
        var lastName = document.getElementById('lastName').value;
        var carType = document.querySelector('.carousel-item.active img').alt;
        var price = document.querySelector('.carousel-item.active').getAttribute('data-price');
        var date = document.getElementById('date').value;
        var time = document.getElementById('time').value;

        // Nascondi il modulo di prenotazione
        document.getElementById('bookingForm').style.display = 'none';

        // Mostra la ricevuta
        document.getElementById('receiptFirstName').textContent = firstName;
        document.getElementById('receiptLastName').textContent = lastName;
        document.getElementById('receiptCarType').textContent = carType;
        document.getElementById('receiptPrice').textContent = price;
        document.getElementById('receiptDate').textContent = date;
        document.getElementById('receiptTime').textContent = time;

        document.getElementById('receipt').style.display = 'block';
    });
</script>
</body>

</html>