@charset "UTF-8";
.footer {
background-color: #343a40;
color: white;
text-align: center;
padding: 20px 10px;
}

.col:hover{
transform: translateX(10px) scale(1.1); /* Sposta a destra e ingrandisce leggermente */
cursor: pointer;
transition: transform 0.2s ease;
}

.nav-item {
padding: 10px 20px;
transition: transform 0.4s ease;
font-family: "Mokoto";
}

.nav-item:hover {
transform: translateX(10px) scale(1.1); /* Sposta a destra e ingrandisce leggermente */
cursor: pointer;
color: red;
}

#Logo , h5 {
font-family: 'Mokoto';
font-size: xx-large;
}

#Pilot {
color: red;

}

.super{
margin-left:34%;
margin-bottom: 3%;
}


/* Stile personalizzato per lo sfondo bianco dell'input */
.custom-input {
background-color: white;
color: black; /* Opzionale: imposta il colore del testo */
}

